<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hi <%= @mailing_list_contact.name %>
    </p>
    <p>
      You have signed up to the
      <%= link_to "WellWish", "http://www.wellwish.org" %>
      mailing list.
    </p>
    <p>
      Thanks for your interest. WellWish's vision is to make volunteering easy,
      and efficient, as it should be. We are working hard and are aiming for a
      limited launch mid 2018.
    </p>
    <p>
      Cheers,<br>
      Sheldon at WellWish
    </p>
  </body>
</html>
