<h1>Editing Mailing List Contact</h1>

<%= render 'form', mailing_list_contact: @mailing_list_contact %>

<%= link_to 'Show', @mailing_list_contact %> |
<%= link_to 'Back', mailing_list_contacts_path %>
