<h1>WellWish</h1>
<p>A todo list for humanity</p>
<%= render 'form', mailing_list_contact: @mailing_list_contact %>
<p>
  WellWish is and always will be free and open source. We are looking for
  developers, designers and marketing people. Email sheldon at wellwish dot org.
</p>
<%= link_to "GitHub", "https://github.com/WellWish" %>
<%= link_to "Pivotal Tracker", "https://www.pivotaltracker.com/n/projects/1931377" %>
