<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mailing_list_contact.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @mailing_list_contact.email %>
</p>

<%= link_to 'Back', root_path %>
